@value variables: '../../../variables.module.css';
@value text-gray-color, box-shadow from variables;

.selectorTitle {
  display: block;
  margin-bottom: 12px;
  font-family: inherit;
  font-size: 14px;
  color: text-gray-color;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  height: 32px;
}

.priorityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  padding: 0;
  border-radius: 50%;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border: none;
  box-shadow: box-shadow;
  cursor: pointer;
}

.priorityBtn:last-child {
  margin-right: 0;
}

.prioritylow {
  composes: priorityBtn;
  background-color: #9abbb5;
}

.priorityhigh {
  composes: priorityBtn;
  background-color: #f25137;
}
