@value gray-color from '../../variables.module.css';
@value dark-blue-color from '../../variables.module.css';
@value font-stack from '../../variables.module.css';
@value light-gray-color #f5f7fa from '../../variables.module.css';

.block {
  box-shadow: 1px 2px 2px 1px rgb(206, 206, 206);
}

.headerTask {
  font-family: font-stack;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.bodyTask {
  font-family: font-stack;
  background-color: dark-blue-color;
  margin: 0;
  color: white;
  padding: 20px 0 20px 7px;
  min-height: 74px;
}

.title {
  font-weight: 600;
}

.taskControls {
  display: flex;
}

.btnDone,
.btnEdit,
.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  padding: 2px;
  border-radius: 50%;
  border: none;
  background-color: light-gray-color;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.btnDone {
  margin-right: 0;
}

.footerTask {
  font-family: font-stack;
  display: flex;
  justify-content: space-between;
  padding: 8px 5px 8px 5px;
  color: gray-color;
  background-color: white;
}

.date {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.span {
  margin-right: 5px;
}

.priorityTask {
  width: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  text-align: center;
  box-shadow: 1px 2px 2px 1px rgba(163, 163, 163, 1);
  font-weight: 600;
}

.role {
  color: rgb(65, 65, 65);
  font-weight: 600;
}

.doneBtn {
  composes: btnDone;
  background-color: #e6eeec;
}

.burnedBtn {
  composes: btnDone;
  background-color: #f5e6e6;
}

.undoneBtn {
  composes: btnDone;
  background-color: #f5f7fa;
}

.doneIcon {
  fill: #9abbb5;
}

.burnedIcon {
  fill: #f25137;
}

.undoneIcon {
  fill: #939393;
}
