@value variables: '../../variables.module.css';
@value font-stack, text-gray-color, gray-underline from variables;

.createTaskWrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.container {
  font-family: font-stack;
  width: 320px;
  margin: 0 auto;
  padding: 54px 0 62px;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  margin: 5px 0;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.myRolesTitle {
  color: text-gray-color;
}

.openRoleFormBtn {
  display: flex;
  align-items: center;
  padding: 0;
  width: 110px;
  height: 24px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.iconArrow {
  width: 24px;
  height: 24px;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: gray-underline;
}

@media (min-width: 768px) {
  .createTaskWrapper {
    min-height: calc(100vh - 50px);
  }
}

@media (min-width: 1280px) {
  .container {
    padding-top: 0;
  }

  .createTaskWrapper {
    padding-right: 40px;
    margin: 0;
    max-width: 400px;
    position: sticky;
    top: 6%;
    overflow-y: scroll;
    z-index: 2;
    height: 100vh;
  }
}
