@media (max-width: 767px) {
  .logoutButton {
    top: 40%;
  }
}

.logoutButton {
  display: flex;
  border-bottom: none;
  position: absolute;
  background-color: #f5f7fa;
  outline: none;
  border: none;
  color: #869096;
  padding: 0;
  cursor: pointer;
}
