@value variables: '../../variables.module.css';
@value font-stack, text-gray-color, white-color from variables;

@media (max-width: 767px) {
  .logoutButton {
    top: 450px;
  }
}

.logoutButton {
  font-family: font-stack;
  font-size: 12px;
  font-weight: 500;
  background-color: transparent;
  display: flex;
  border-bottom: none;
  position: absolute;
  outline: none;
  border: none;
  color: text-gray-color;
  padding: 0;
  cursor: pointer;
}
