.header {
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 40px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .StatisticButton {
    margin: 0;
  }

  .LogOut {
    margin: 0;
    padding: 14px 80px 0px 0px;
  }
}
