@value variables: '../../variables.module.css';
@value dark-blue-color, white-color, orange-color, white-color, gray-underline, font-stack from variables;

.statistics__page_wrapper {
  background-color: white;
  min-height: calc(100vh - 50px);
}

.statistics__wrapper {
  font-family: font-stack;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
}

.statistics__title {
  position: relative;
  font-size: 26px;
  color: dark-blue-color;
  font-weight: 500;
  line-height: 1.2;
}

.statistics__title::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -15px;
  height: 1px;
  background-color: gray-underline;
}

.statistics__section {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
}

.statistics__message {
  font-size: 26px;
  color: dark-blue-color;
  font-weight: 500;
  line-height: 1.2;
}

.home__button_wrapper {
  display: block;
  margin-bottom: 40px;
  text-align: right;
}

.home__button {
  text-decoration: none;
  color: white-color;
  padding: 11px 13px 11px 13px;
  background-color: orange-color;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .statistics__wrapper {
    max-width: 472px;
  }
  .statistics__section {
    margin-top: 60px;
  }
  .home__button_wrapper {
    display: none;
  }
}

@media (min-width: 1200px) {
  .statistics__wrapper {
    max-width: 942px;
  }
  .statistics__section {
    margin-top: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
