@value variables: '../../../variables.module.css';
@value gray-color, dark-blue-color, font-stack, orange-color, red-color, gray-background-color, white-color, light-gray-color, input-gray-color, text-gray-color, box-shadow from variables;

.title {
  font-family: font-stack;
  font-size: 15px;
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: font-stack;
  color: gray-color;
}

.wrapAgree {
  display: flex;
  padding-top: 10px;
  margin-bottom: 30px;
}

.btnAgree {
  border: none;
  background-color: white-color;
  cursor: pointer;
  color: gray-color;
  font-size: 12px;
  font-family: font-stack;
  background-color: #eeeeee7c;
}

label {
  font-size: 14px;
  color: text-gray-color;
  margin: 10px 0;
}

.span {
  color: orange-color;
}

.btn {
  background-color: orange-color;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 18px 0;
  color: white-color;
  font-weight: 600;
  font-size: 16px;
  font-family: font-stack;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(209, 88, 7);
}

.error {
  color: red-color;
  font-size: 11px;
}

.inputOne,
.inputTwo {
  border: 1px light-gray-color solid;
  box-shadow: box-shadow;
  background-color: light-gray-color;
  padding: 11px 8px;
  font-size: 14px;
  font-weight: 400;
  color: dark-blue-color;
  transition: 0.3s ease-in-out;
}

.inputOne {
  margin-bottom: 5px;
}

.inputTwo {
  margin-bottom: 30px;
}

.form {
  padding: 20px;
  width: 280px;
  margin: auto;
}

.googleSignUpButton {
  padding: 15px 0;
  margin: 0 auto 30px auto;
  letter-spacing: 0.03em;
  display: block;
  width: 160px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.googleBtnContentWraper {
  color: #000;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
}

.googleBtnContentWraper > span {
  font-family: font-stack;
  letter-spacing: 0.03em;
  vertical-align: 4px;
  font-size: 14px;
}

.googleBtnContentWraper > img {
  width: 18px;
  margin: 0 12px 0 0;
  height: 18px;
}

.image {
  display: none;
}

@media (min-width: 768px) {
  .form {
    background-color: #ffffff;
    padding: 30px;
  }

  .inputOne {
    margin-bottom: 5px;
  }

  .inputTwo {
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .wrapAuth {
    display: flex;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    align-items: center;
  }

  .formContainer {
    width: 40%;
  }

  .form {
    width: 354px;
  }
  .imageContainer {
    position: relative;
    width: 60%;
    align-self: start;
  }
  .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  /*
  .image {
    display: block;
    height: 100vh;
    width: 60%;
    position: absolute;
    top: 0;
  }
  */
  /*
  .imageContainer {
    width: 60%;
  }
  */

  .btn {
    margin-top: 30px;
  }

  .inputTwo {
    margin-bottom: 5px;
  }
}
