@value variables: '../../variables.module.css';
@value dark-blue-color, gray-underline, text-gray-color from variables;

.statistics__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  line-height: 1.333;
}

.statistics__list_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: dark-blue-color;
  font-weight: 500;
  font-size: 12px;
}

.statistics__list_header::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -7px;
  height: 2px;
  background-color: gray-underline;
}

.list__header_title {
  max-width: 85px;
  margin: 0;
}

.statistics__list_item {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-top: 22px;
  font-size: 12px;
  font-weight: normal;
  color: text-gray-color;
}

.statistics__list_item::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -7px;
  height: 2px;
  background-color: gray-underline;
}

@media (min-width: 768px) {
  .list__header_title {
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .statistics__list {
    min-width: 470px;
    max-width: 500px;
  }
}
