@value variables: '../../variables.module.css';
@value input-gray-color, dark-grey-color from variables;

.statisticsSvg {
  position: absolute;
  top: -55px;
  left: -40px;
  background-color: input-gray-color;
  transition: 400ms;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statisticsSvg > svg {
  fill: #ffffff;
}
.statisticsSvg:hover {
  background-color: dark-grey-color;
  transition: 400ms;
}

.statisticsSvgWide {
  composes: statisticsSvg;
  position: fixed;
  top: -15px;
  left: 0;
}
